<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/echarts.js" ></script>
    <script type="text/javascript" src="../static/js/china.js" ></script>
</head>
<body>
<div id="main" style="width: 1500px;height:600px;background-color: #5dc9bc"></div>
</body>
<script>

  var mydata = [
                {name: '北京',value: '36102.6' },{name: '天津',value: 14083.73 },
                {name: '上海',value: 38700.58 },{name: '重庆',value: 25002.79 },
                {name: '河北',value: 36206.9 },{name: '河南',value: 54997.07 },
                {name: '云南',value: 24500.0 },{name: '辽宁',value: 25115.0 },
                {name: '黑龙江',value: 13698.5 },{name: '湖南',value: 41781.49 },
                {name: '安徽',value: 38680.6 },{name: '山东',value: 73129.0 },
                {name: '新疆',value: 13797.58 },{name: '江苏',value: 102700.0 },
                {name: '浙江',value: 64613 },{name: '江西',value: 25691.5 },
                {name: '湖北',value: 43443.46 },{name: '广西',value: 22156.69 },
                {name: '甘肃',value: 9016.7 },{name: '山西',value: 17651.93 },
                {name: '内蒙古',value: 17360 },{name: '陕西',value: 26181.86 },
                {name: '吉林',value: 12311.32 },{name: '福建',value: 43903.89 },
                {name: '贵州',value: 17826.56 },{name: '广东',value: 110760.94 },
                {name: '青海',value: 3005.92 },{name: '西藏',value: 1902.74 },
                {name: '四川',value: 48598.76 },{name: '宁夏',value: 3920.55 },
                {name: '海南',value: 5532.39 },{name: '台湾',value: 46167.28 },
                {name: '香港',value: 24103.74 },{name: '澳门',value: 1678.44 }
            ];

                var optionMap = {
                backgroundColor: '#FFFFFF',
                title: {
                    text: '2020年各省GDP',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item'
                },

                //左侧小导航图标
                visualMap: {
                    show : true,
                    x: 'left',
                    y: 'center',
                    splitList: [
                        {start: 100000, end:120000},{start: 80000, end: 100000},
                        {start: 60000, end: 80000},{start: 40000, end: 60000},
                        {start: 20000, end: 40000},{start: 0, end: 20000},
                    ],
                    color: ['#5475f5', '#9feaa5', '#85daef','#74e2ca', '#e6ac53', '#9fb5ea']
                },

                //配置属性
                series: [{
                    name: '数据',
                    type: 'map',
                    mapType: 'china',
                    roam: true,
                    label: {
                        normal: {
                            show: true  //省份名称
                        },
                        emphasis: {
                            show: false
                        }
                    },
                    data:mydata  //数据
                }]
            };
        //初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        //使用制定的配置项和数据显示图表
        myChart.setOption(optionMap);
</script>
</html>