<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B站数据可视化</title>
    <script src="../static/js/layui.js" charset="utf-8"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/echarts-wordcloud.js"></script>
    <link rel="stylesheet" href="../static/css/BiliDataVisual.css" type="text/css" />
</head>
<body>
    <div class = "all">
        <!--粉丝排行榜-->
        <div id="fans_top" style="width: 1500px;height:600px;background-color: #5dc9bc"></div>
        <div id="anime_top" style="width: 1500px;height:600px;background-color: white"></div>
    </div>

    <script src="../static/js/wordCloud.js"></script>
    <script src="../static/js/top100.js"></script>
    <script src="../static/js/fans-top.js"></script>
    <script src="../static/js/BiliDataVisual.js"></script>
</body>
</html>
